<div class="body-center dib px-15">
    <div class="row text-center-sm">
        <div class="head">
                <p class="blue heading mx-0">Earn with Worksmart Events</p>
                <p class="sub">Choose when to work, where to work from 1000+ specific job events.</p>
        </div>
        <div class="square col-33 dib-sm">
            <img src="{{STATIC_URL}}home/images/register.svg" alt="Register">
            <div class="smallsub">
                Register with Worksmart Events
            </div>
            <div class="sub">
                Register with us in under 1 minute! Once your profile is verified you can apply to 1000+ events posted by our clients
            </div>
        </div>
        <div class="square col-33 dib-sm">
            <img src="{{STATIC_URL}}home/images/apply_and_complete.svg" alt="Apply & Complete">
            <div class="smallsub">
                Apply & Complete Jobs
            </div>
            <div class="sub">
                Eligible candidates are on boarded and are updated about the event progress and alerts. Complete the required work hours
                at client location and get paid for your contribution
            </div>
        </div>
        <div class="square col-33 dib-sm">
            <img src="{{STATIC_URL}}home/images/paid2.svg" alt="Paid">
            <div class="smallsub">
                Get Paid & Reviewed
            </div>
            <div class="sub">
                You get paid and reviewed for your completed work. You also stand a chance to become our preferred partners depending on
                your ratings (T&C Apply)*
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100 mx-0"><a class="button force-register" data-user_type="candidate"><span>Apply Now</span></a></div>
    </div>
</div>
