{% block customcss %}
    <link href="{{STATIC_URL}}home/css/typingeffect.css" rel="stylesheet">
    <link href="{{STATIC_URL}}home/css/home.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
{% endblock customcss %}

{% block body %}
<div class="first_dark_screen">
    <div class="wse_name">
        
        <!--p class="orange">Worksmart Events</p-->
        <p class="blue">ome tstasd asddd</p>
        <!--span class="cursor">|</span-->

    </div>
</div>
<div class="body_content">
-- something--
</div>

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}
{% block customjs %}
    <script src="{{STATIC_URL}}home/js/home.js"></script>
    <script type="text/javascript">
        Home.init({
        });
    </script>
{% endblock customjs %}
