<div class="body-center">
    <div class="head">
        <h1><p class="blue heading">Find the right staff for your Events</p></h1>
        <h2><p class="sub">With 2000+ of staff available, we've got you covered for any type of event.</p></h2>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/actor.svg">
        <div class="smallsub">
            Actor
        </div>
        <div class="sub">
            Stage jitters? Not when we are around to host your events !
        </div>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/anchor.svg">
        <div class="smallsub">
            Anchor
        </div>
        <div class="sub">
            Stage jitters? Not when we are around to host your events !
        </div>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/biker2.svg">
        <div class="smallsub">
            Biker
        </div>
        <div class="sub">
            Stage jitters? Not when we are around to host your events !
        </div>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/emcee.svg">
        <div class="smallsub">
            Emcee
        </div>
        <div class="sub">
            Stage jitters? Not when we are around to host your events !
            some text
        </div>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/hostess.svg">
        <div class="smallsub">
            Hostess
        </div>
        <div class="sub">
            Stage jitters? Not when we are around to host your events !
            some text
        </div>
    </div>
    <!--div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/market_research.svg">
        <div class="smallsub">
            Market Researcher
        </div>
        <div class="sub">
            some text
        </div>
    </div-->
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/mascot.svg">
        <div class="smallsub">
            Mascot
        </div>
        <div class="sub">
            Stage jitters? Not when we are around to host your events !
            some text
        </div>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/model.svg">
        <div class="smallsub">
            Model
        </div>
        <div class="sub">
            Having trouble finding a face for your product? We've got the dudes and dudettes who would get that sorted out !
        </div>
    </div>
    <div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/promoter.svg">
        <div class="smallsub">
            Promotor
        </div>
        <div class="sub">
            Extend your brand reach by promoting your product in the most happening places. We extend our support by providing Samplers to help you hand out goodies !
        </div>
    </div>
    
    <div class="col-100"><a class="button force-register" data-user_type="client"><span>Hire Staff Now</span></a></div>
</div>
