<div class="body-center dib px-15">
    <div class="row">
        <div class="head">
            <h1>
                <p class="blue heading mx-0">Find the right staff for your Events</p>
            </h1>
            <h2>
                <p class="sub">With 2000+ staff available, we've got you covered for any type of event</p>
            </h2>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/actor.svg">
            <div class="smallsub">
                Actor
            </div>
            <div class="sub">
                Want to portray a character in a performance for your event ?
            </div>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/anchor.svg">
            <div class="smallsub">
                Anchor / Emcee
            </div>
            <div class="sub">
                Stage jitters? Not when we are around to host your events !
            </div>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/biker2.svg">
            <div class="smallsub">
                Biker
            </div>
            <div class="sub">
                Professional bikers 
            </div>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/emcee.svg">
            <div class="smallsub">
                Lookwalkers
            </div>
            <div class="sub">
                To wear an advertised banner and roam or to drive an advertised bycicle
            </div>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/hostess.svg">
            <div class="smallsub">
                Hostess
            </div>
            <div class="sub">
                Need a hostess who receives or entertains guests ?
            </div>
        </div>
        <!--div class="square col-25 row-4">
        <img src="{{STATIC_URL}}home/images/market_research.svg">
        <div class="smallsub">
            Market Researcher
        </div>
        <div class="sub">
            some text
        </div>
    </div-->
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/mascot.svg">
            <div class="smallsub">
                Respondents
            </div>
            <div class="sub">
                To attend a meeting and give a feedback about something or a Group Discussion
            </div>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/model.svg">
            <div class="smallsub">
                Model
            </div>
            <div class="sub">
                Having trouble finding a face for your product? We've got the dudes and dudettes who would get that sorted out !
            </div>
        </div>
        <div class="square col-25 col-md-50 col-xs-100 row-4">
            <img src="{{STATIC_URL}}home/images/promoter.svg">
            <div class="smallsub">
                Promotor
            </div>
            <div class="sub">
                Extend your brand reach by promoting your product in the most happening places.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100 mx-0"><a class="button force-register" data-user_type="client"><span>Hire Staff Now</span></a></div>
    </div>
</div>
