<div class="body-center">
    <div class="row">
    <div class="head">
        <h1>
            <p class="blue heading">Worksmart Events - Manage all your On-Demand Staffing Requirements</p>
        </h1>
        <h2>
            <p class="sub">Clients : Post events & Hire part-time professional workers.</p>
        </h2>
        <h2>
            <p class="sub">Candidates : Register, Apply, Work & Earn for part-time promotional jobs</p>
        </h2>
    </div>
    <div class="square col-33">
        <img src="{{STATIC_URL}}home/images/schedulingicon.png">
        <div class="smallsub">
            Staff Scheduling & Communication
        </div>
        <div class="sub">
            Schedule or Register for an event. We will find the best fit for your requirement and schedule everything as per your needs.
            No Upfront Costs! Guaranteed
        </div>
    </div>
    <div class="square col-33">
        <img src="{{STATIC_URL}}home/images/verify3.svg">
        <div class="smallsub">
            Screening & Onboarding
        </div>
        <div class="sub">
            All our users have verified profiles. We ensure that everybody on board is briefed properly and aware of obligations and
            liabilities
        </div>
    </div>
    <div class="square col-33">
        <img src="{{STATIC_URL}}home/images/track_and_pay.svg">
        <div class="smallsub">
            Seamless Time Tracking & Payouts
        </div>
        <div class="sub">
            The time you invest is accounted for. Stay updated on your work hour and payout related updates from your dedicated dashboard
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-half text-center">
            <a class="button force-register" data-user_type="client"><span>Hire staff for an event</span></a>
        </div>
        <div class="col-half text-center">
            <a class="button force-register" data-user_type="candidate"><span>Work for an event</span></a>
        </div>
    </div>
</div>