@import '../lib/varibles';
@import '../lib/mixins';
@import 'reset';
@import 'clearfix';
@import 'body';
@import 'margin';
@import 'display';
@import 'nav';
@import 'icons';

.row {
  @extend %clear;
  margin-left: -15px;
  margin-right: -15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.left-fixed {
  width: 250px;
}

.right-col {
  width: 100%;
}

.ad-box {
  width: 200px;
}

.overhide {
  overflow: hidden;
  height: 80%;
  height: 80vh;
}

@media (min-width: 992px) {
  .right-col {
    width: calc(100% - 450px)
  }
}

@media (min-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.w100 {
  width: 100%;
}

.bdr-dash {
  border: 1px dashed $border-gray;
}

%remove-focus {
  text-decoration: none;
}

.btn {
  @extend %remove-focus;
  -webkit-appearance: button;
  background-image: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  padding: 6px 12px;
  text-align: center;
  transition: all .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    @extend %remove-focus;
  }

  &:hover {
    @extend %remove-focus;
  }

  &.btn-blue {
    background: $base-blue;
    color: $base-white;
    min-width: 120px;

    &:hover {
      background: $base-dark-blue;
    }
  }
}
