.full-screen {
  background: $bg-gray;
  border-bottom: 1px dashed $border-gray;
  border-top: 1px dashed $border-gray;
  box-shadow: 1px 2px 6px $shadow-light;
  margin-top: 25px;
  width: 100%;
}

.nav-strip {
  @extend %clear;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
}

.logo {
  float: left;
  min-height: 1px;
  position: relative;
  width: 160px;
}

.main-nav {
  float: left;

  ul {
    @extend %clear;
  }

  li {
    float: left;
    padding: 6px 12px;

    a {
      border-radius: .3em;
      color: $base-blue;
      display: block;
      font-size: .8em;
      padding: 5px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background: $base-blue;
        color: $base-white;
      }
    }
  }
}

.right-menu {
  float: right;
}

%right-menu {
  float: left;
  margin-top: 5px;
}

%right-border {
  &::before {
    border-right: 1px dashed $border-gray;
    content: '';
    height: 25px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 1px;
  }
}

.alert {
  @extend %right-menu;
}

.location {
  @extend %right-menu;
  @extend %right-border;
  color: $base-blue;
  font-size: 14px;
  padding: 0 10px;
  position: relative;

  &::before {
    top: 0;
  }
}

.sign-in {
  @extend %right-border;
  float: left;
  font-size: 14px;
  padding-left: 10px;
  position: relative;

  a {
    color: $base-blue;
    cursor: pointer;
    display: block;
    padding: 9px 0;
    text-decoration: none;
  }
}
