{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/login.css" rel="stylesheet">
{% endblock customcss %}

<div class="pop-overlay">   
    <!-- login form -->
    <div class="container-login">
        <button class="btn-close escape"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="scroll-fixed">
            <div class="tabs-login">
                <label class="active" for="sign-in">Sign in</label>
                <label for="register-in">Register</label>
                <label for="forgot-in">Forgot Password</label>
                <input type="hidden" name="action" id="action" value="">
                <input type="hidden" name="isajax" id="isajax" value="">
            </div>
        </div>
        <input type="radio" name="showsup" checked="checked" class="hidden" id="sign-in">        
        <div class="login-box shows-up">
            <p class="alert_message_error" style="" id="login_message">.</p>
            <label class="login-label">
                <span class="user-icon"><i class="fa fa-onehalfx fa-user-circle-o" aria-hidden="true"></i></span>
                <input type="text" id="username" autocomplete="off">
                <span class="label-tag">Email</span>
            </label>
            <label class="login-label">
                <span class="pwd-icon"><i class="fa fa-onehalfx fa-lock" aria-hidden="true"></i></span>
                <input type="password" id="password" autocomplete="off">
                <span class="label-tag">Password</span>
            </label>
            <label for="forgot-in"class="forgot-inlogin"> 
                <span class="fa-passwd-reset fa-stack">
                    <i class="fa fa-undo fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x"></i>
                </span> 
                Forgot Password
            </label>
            <button class="btn btn-login" id="login"><i class="fa fa-sign-in"></i> Login</button>
        </div>

        <!-- registration form  -->
        <input type="radio" name="showsup" class="hidden" id="register-in">        
        <div class="register-box shows-up">
            <p class="alert_message_error" style="" id="register_message">.</p>
            <label class="login-label">
                <span class="user-m-icon"><i class="fa fa-user fa-onehalfx" aria-hidden="true"></i></span>
                <input type="text" id="reg_username" autocomplete="off">
                <span class="label-tag">Email</span>
            </label>
            <label class="login-label">
                <span class="mobile-icon"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></span>
                <input type="text" id="reg_mobile" autocomplete="off" maxlength=10>
                <span class="label-tag">Mobile Number</span>
            </label>

            <label class="login-label">
                <span class="pwd-icon"><i class="fa fa-key fa-onehalfx" aria-hidden="true"></i></span>
                <input type="password" id="reg_password" autocomplete="off">
                <span class="label-tag">Password</span>
            </label>

            <label class="login-label">
                <span class="pwd-icon"><i class="fa fa-repeat fa-onehalfx" aria-hidden="true"></i></span>
                <input type="password" id="reg_confirm_password" autocomplete="off">
                <span class="label-tag">Confirm Password</span>
            </label>
            <div id="register-as"> 
            <p class="login-name"> Register as :</p>
            <label class="login-label clearfix">
            <select class="login-select" name="user_role" id="user_role">
                <option value="candidate">Candidate (Work for events)</option>
                <option value="client">Client (Hire Staff for events)</option>
            </select>
            </label>
            </div>
            <button class="btn btn-login" id="register"><i class="fa fa-user-plus"></i> Register</button>
        </div>
    
        <!-- forgot password -->
        <input type="radio" name="showsup" class="hidden" id="forgot-in">
        <div class="forgot-box shows-up">
            <p class="alert_message_error" style="" id="forgot_password_message">.</p>
            <label class="login-label">
                <span class="user-icon"><i class="fa fa-onehalfx fa-user-circle-o" aria-hidden="true"></i></span>
                <input type="text" id="fp_username" autocomplete="off">
                <span class="label-tag">Email</span>
            </label>
            <button class="btn btn-login" id="forgot_password">Reset Password</button>
        </div>
        

    </div>
</div>
