<div class="pop-overlay">   
    <div class="container-login">
        <button class="btn-close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <p class="login-head">Sign in</p>
        <label class="login-label">
            <span class="user-icon"><i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i></span>
            <input type="text">
        </label>
        <label class="login-label">
            <span class="pwd-icon"><i class="fa fa-2x fa-unlock-alt" aria-hidden="true"></i></span>
            <input type="password">
        </label>
        <button class="btn btn-login">Login</button>
    </div>
</div>
