.divider {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-top: 2px;
    margin-bottom: 8px;
}
.divider-vertical {
    width: 2px;
    height: 250px;
    background: #ccc;
    margin-top: 80px;
    margin-bottom: 48px;
    float:left;
}
.body-center {
    max-width:1140px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:10%
}
.circle {
    display: inline-block;
    width: 225px;
    height: 225px;
    margin-bottom: 10px;
    margin-top: 50px;
    border: 2px #cccccc solid;
    border-radius: 100%;
    overflow:hidden;
}

.circle img {
    width:100%;
}

.col-33 {
    text-align: center;
    width:33%;
    float:left;
}

.smallsub {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    color: #ea6e32;
    margin-bottom: 12px;
}

.sub {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    color: grey;
    margin-bottom: 12px;
    margin-left:15px;
    margin-right:15px;
}
@media (max-width:640px) {
    .col-33 {
        width:100%;
        max-width:300px;
        margin:10px auto;
        float:none;
    }

    .divider-vertical {
        width:96%;
        height:1px;
        float:none;
        margin-left:2%;
        margin-right:2%;
    }
    .divider {
        width:96%;
        margin-left:2%;
        margin-right:2%;
    }
    .circle {
        margin-top:25px;
    }
}

