/* Reset.scss
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

.suggestions {
  position: relative;
}

.suggestions .suggest_item{
    padding: 10px;
    background-color:#EEEEEE;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    display:block;
    z-index:1;
    color: #292b2c;
    #position: absolute;
    width: 100%;
    text-decoration: none;
  transition: background-color 100ms ease;
    
}

.suggestions .suggest_item:hover {
  background-color: #ccc;
  transition: background-color 100ms ease;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.nav-strip::before, .main-nav ul::before, .row::before, .breadcrumb::before, .boxes::before, .events-details ol::before, .page-result::before, .filter-head::before, .nav-strip::after, .main-nav ul::after, .row::after, .breadcrumb::after, .boxes::after, .events-details ol::after, .page-result::after, .filter-head::after {
  content: ' ';
  display: table; }

.nav-strip::after, .main-nav ul::after, .row::after, .breadcrumb::after, .boxes::after, .events-details ol::after, .page-result::after, .filter-head::after {
  clear: both; }

.clearfix:after {
    clear:both;
    content:'';
    display:block;
    visibility:hidden;
}
body {
  background-color: #f8f8f8;
  font-family: 'Roboto', Verdana, Geneva, sans-serif;
  font-size: 16px; }

.mb-15 {
  margin-bottom: 15px; }

.mt-15 {
  margin-top: 15px; }

.mt-25 {
  margin-top: 25px; }

.mt-7 {
  margin-top: 7px; }

.mt-56 {
  margin-top: 56px; }

.my-15 {
  margin-bottom: 15px;
  margin-top: 15px; }

.dib {
  display: inline-block; }

.full-screen {
  background: #e4e4e4;
  border-bottom: 1px dashed #787878;
  border-top: 1px dashed #787878;
  -webkit-box-shadow: 1px 2px 6px #ddd;
     -moz-box-shadow: 1px 2px 6px #ddd;
          box-shadow: 1px 2px 6px #ddd;
  margin-top: 5px;
  width: 100%; }

.nav-strip {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%; }

.logout {
  width:30px;
  height:30px;
  margin-top:2px;
}
.logo {
  float: left;
  min-height: 1px;
  position: relative;
  width: 160px; }

.user-signed {
    border-radius: 50%;
    border: 1px solid black;
    margin: 4px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    float: left;
    background: transparent; }

.user-signed img {
    border-radius: 50%;
    border: 0;
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 40px; }

.male-female-icon {
    border: 0;
    height: 100%;
    width: 100%;
    max-height: 35px;
    max-width: 35px; 
}

.login_drop {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-top: 0 none;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    cursor: pointer; }
.main-nav {
  float: left; }
  @media (max-width: 991px) {
    .main-nav {
      background: #e4e4e4;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; } }
  @media (max-width: 991px) {
    .main-nav ul {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; } }
  .main-nav li {
    float: left;
    padding: 6px 12px; }
    @media (max-width: 991px) {
      .main-nav li {
        width: 100%;
        text-align: center;
        padding: 0;
        border-bottom: 1px dashed #787878; }
        .main-nav li:last-child {
          border-bottom: none; } }
    .main-nav li a {
      -webkit-border-radius: .3em;
         -moz-border-radius: .3em;
              border-radius: .3em;
      color: #368;
      display: block;
      font-size: .8em;
      padding: 5px;
      text-decoration: none;
      text-transform: uppercase; }
      @media (max-width: 991px) {
        .main-nav li a {
          padding: 20px; } }
      .main-nav li a:hover {
        background: #368;
        color: #fff; }
.selected {
    background: #368;
    color: #fff !important;
}
.right-menu {
  float: right; }
  @media (max-width: 424px) {
    .right-menu {
      display: none;
      position: fixed;
      bottom: 0;
      z-index: 999;
      left: 0;
      right: 0;
      padding: 15px;
      width: 100%;
      text-align: center; }
      .right-menu > div {
        display: inline-block;
        float: none; } }

.alert, .location {
  float: left;
  margin-top: 5px; }

.location::before, .sign-in-css::before {
  border-right: 1px dashed #787878;
  content: '';
  height: 25px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1px; }

.location {
  color: #368;
  font-size: 14px;
  padding: 0 10px;
  position: relative; }
  .location::before {
    top: 0; }

.sign-in-css {
  float: left;
  font-size: 14px;
  padding-left: 10px;
  position: relative; }
  .sign-in-css a {
    color: #368;
    cursor: pointer;
    display: block;
    padding: 9px 0;
    text-decoration: none; }

.mobile-menu {
  float: left;
  margin-left: 15px;
  margin-top: 2px;
  width: 25px; }
  @media (max-width: 424px) {
    .mobile-menu {
      float: right; } }
  .mobile-menu span {
    background: #368;
    display: block;
    height: 2px;
    margin: 5px 0;
    width: 100%; }

@media (max-width: 991px) {
  .main-nav {
    display: none;
    overflow: auto; } }

@media (min-width: 992px) {
  .mobile-menu {
    display: none; } }

.close-nav {
  display: none; }
  .close-nav button {
    font-family: sans-serif;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 10px 15px; }
    .close-nav button:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .75; }
  @media (max-width: 991px) {
    .close-nav {
      display: block; } }

[class^="icon-"] {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  [class^="icon-"]::after {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute; }

.icon-logo {
  background: #fff;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-shadow: 1px 2px 6px #ddd;
     -moz-box-shadow: 1px 2px 6px #ddd;
          box-shadow: 1px 2px 6px #ddd;
  height: 160px;
  position: absolute;
  top: -70px;
  width: 160px; }
  .icon-logo::after {
    background-position: -242px -21px;
    bottom: 0;
    height: 90px;
    left: 0;
    margin: auto;
    right: 0;
    top: 20px;
    width: 113px; }

.icon-cal {
  height: 29px;
  width: 29px; }
  .icon-cal::after {
    background-position: -86px -8px;
    height: 29px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    width: 29px; }

.icon-date {
  height: 28px;
  margin-right: 5px;
  width: 24px; }
  .icon-date::after {
    background-position: -41px -9px;
    height: 28px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    width: 24px; }

.icon-girl {
  height: 30px;
  margin-right: 5px;
  width: 28px; }
  .icon-girl::after {
    background-position: -41px -74px;
    height: 40px;
    top: -6px;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
    width: 32px; }

.icon-boy {
  height: 30px;
  margin-right: 5px;
  width: 25px; }
  .icon-boy::after {
    background-position: 0 -74px;
    height: 40px;
    top: -6px;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
    width: 27px; }

.icon-rupees {
  height: 46px;
  margin-right: 5px;
  width: 30px; }
  .icon-rupees::after {
    background-position: 0 0;
    height: 46px;
    top: -2px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    width: 30px; }

.icon-address {
  height: 18px;
  margin-right: 5px;
  width: 12px; }
  .icon-address::after {
    background-position: -126px -14px;
    height: 18px;
    top: -2px;
    width: 12px; }

.icon-short-by-name {
  cursor:pointer;
  height: 35px;
  margin-right: 5px;
  width: 31px; }
  .icon-short-by-name::after {
    background-position: -95px -80px;
    height: 34px;
    top: 0;
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
         -o-transform: scale(0.6);
            transform: scale(0.6);
    width: 31px; }

.icon-short-by-type {
  cursor:pointer;
  height: 35px;
  margin-left: 5px;
  width: 35px; }
  .icon-short-by-type::after {
    background-position: -148px -79px;
    height: 35px;
    top: 0;
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
         -o-transform: scale(0.6);
            transform: scale(0.6);
    width: 32px; }

.icon-filterclear {
  height: 15px;
  margin-right: 5px;
  width: 14px; }
  .icon-filterclear::after {
    background-position: -149px -15px;
    height: 15px;
    top: -2px;
    width: 14px; }

.icon-alert {
  height: 24px;
  margin-right: 5px;
  width: 22px; }
  .icon-alert::after {
    background-position: -198px -11px;
    height: 24px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    width: 22px; }

.icon-location-main {
  height: 24px;
  margin-right: 5px;
  width: 15px; }
  .icon-location-main::after {
    background-position: -173px -9px;
    height: 25px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    width: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%; }

.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.left-fixed {
  width: 250px; }

.right-col {
  width: 100%; }

.ad-box {
  width: 200px; }

.overhide {
  overflow: hidden;
  height: 80%;
  height: 80vh; }

@media (min-width: 992px) {
  .right-col {
    width: -webkit-calc(100% - 450px);
    width: -moz-calc(100% - 450px);
    width: calc(100% - 450px); } }

@media (min-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

.w100 {
  width: 100%; }

.bdr-dash {
  border: 1px dashed #787878; }

.btn, .btn:focus, .btn:hover {
  text-decoration: none; }

.btn {
  -webkit-appearance: button;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: .25rem;
     -moz-border-radius: .25rem;
          border-radius: .25rem;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  padding: 6px 12px;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn.btn-blue {
    background: #368;
    color: #fff;
    min-width: 120px; }
    .btn.btn-blue:hover {
      background: #23475f; }
.btn-applied {
  min-width: 120px; 
  color: #368;
  font-weight: bold;
  background: grey;
}
.table {
  color: #666;
  width: 100%
}
.table td {
  text-align: center;
  padding: 8px;
}
.breadcrumb {
  -webkit-border-radius: .25rem;
     -moz-border-radius: .25rem;
          border-radius: .25rem;
  float: left;
  list-style: none;
  margin-bottom: 1rem;
  min-width: 265px;
  padding: .75rem 1rem; }
  @media (max-width: 425px) {
    .breadcrumb {
      width: 100%;
      margin-top: 10px; } }
  .breadcrumb li {
    float: left; }
    .breadcrumb li + li::before {
      color: #368;
      content: '/';
      display: inline-block;
      padding-left: .5rem;
      padding-right: .5rem; }
    .breadcrumb li a {
      color: #368;
      font-size: .8em;
      text-decoration: none; }
    .breadcrumb li:last-child a {
      cursor: default; }

.pagination {
  margin: 0 auto;
  display: block; }
  .pagination ul {
    -webkit-border-radius: .25rem;
       -moz-border-radius: .25rem;
            border-radius: .25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding-left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .pagination li:last-child a {
    -webkit-border-bottom-right-radius: .25rem;
       -moz-border-radius-bottomright: .25rem;
            border-bottom-right-radius: .25rem;
    -webkit-border-top-right-radius: .25rem;
       -moz-border-radius-topright: .25rem;
            border-top-right-radius: .25rem; }
  .pagination li:first-child a {
    -webkit-border-bottom-left-radius: .25rem;
       -moz-border-radius-bottomleft: .25rem;
            border-bottom-left-radius: .25rem;
    -webkit-border-top-left-radius: .25rem;
       -moz-border-radius-topleft: .25rem;
            border-top-left-radius: .25rem; }
  .pagination a {
    display: block;
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #ddd;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    text-decoration: none; }
    .pagination a:hover, .pagination a.active {
      background-color: #e4e4e4;
      cursor: pointer; }

.boxes {
  background: #e4e4e4;
  border: 1px dashed #787878;
  -webkit-box-shadow: 1px 2px 6px #ddd;
     -moz-box-shadow: 1px 2px 6px #ddd;
          box-shadow: 1px 2px 6px #ddd;
  display: inline-block;
  padding: 15px;
  width: 100%; }
  .boxes .left-box {
    float: left;
    max-width: -webkit-calc(100% - 170px);
    max-width: -moz-calc(100% - 170px);
    max-width: calc(100% - 170px);
    width: 100%; }
    @media (max-width: 549px) {
      .boxes .left-box {
        max-width: 100%; } }
  .boxes .right-box {
    float: left;
    text-align: right;
    width: 170px; }
    @media (max-width: 549px) {
      .boxes .right-box {
        margin-top: 20px;
        text-align: left;
        width: 100%; }
        .boxes .right-box > div {
          float: left; }
        .boxes .right-box > div + button {
          margin-top: 5px;
          float: right; } }
  .boxes .head {
    font-size: 20px;
    font-weight: bold; }
  .boxes address {
    color: #333;
    font-size: 15px;
    margin: 10px 0 15px; }

.events-details ol {
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 10px; }

.events-details li {
  float: left;
  padding-left: 1px;
  padding-right: 1px; }
  @media (max-width: 991px) {
    .events-details li {
      margin: 10px 0; } }
  @media (max-width: 400px) {
    .events-details li:first-child {
      width: 100%; } }

.text-small {
  color: #333;
  font-size: 14px; }

.dash-input, .dash-cal {
  background-color: #ccc;
  border: 1px dashed #787878;
  font-size: 14px;
  margin: 0 5px;
  padding: 5px; }
  .dash-input:focus, .dash-cal:focus {
    outline: none; }

.dash-input {
  font-weight: bold;
  text-align: center;
  width: 30px; }

.dash-cal {
  color: #368;
  width: 200px;
  text-align:center;
 }

.event-price {
  color: #333;
  display: inline-block;
  font-size: 14px; }
  .event-price span {
    color: #000;
    font-size: 18px;
    font-weight: bold; }

.page-result .left-result {
  float: left; }
  .page-result .left-result h2 {
    color: #ea6e32;
    font-size: 18px;
    margin-bottom: 15px; }
  .page-result .left-result span {
    font-size: 24px;
    font-weight: bold; }
  @media (max-width: 549px) {
    .page-result .left-result {
      width: 75%; } }
  @media (max-width: 320px) {
    .page-result .left-result {
      width: 100%; } }
.orange{
    color:#ea6e32;
    font-weight:bold;
}
.blue {
  color:#368;
  font-style:bold;
}
.page-result .right-result {
  float: right; }
  @media (max-width: 320px) {
    .page-result .right-result {
      float: left; } }

.filter-head {
  margin-bottom: 20px; }
  .filter-head .filter-left {
    float: left; }
  .filter-head .filter-right {
    float: right; }

.filter-name {
  position: relative; }
  .filter-name::after {
    background-color: #ea6e32;
    bottom: -5px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 25px; }

.clear-btn {
  font-size: 12px;
  cursor:pointer;
}

.bar-head {
  border-bottom: 1px solid #ea6e32;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 100%; }

.filter-content {
  margin-bottom: 15px;
  max-height: 150px;
  overflow-y: auto; }
  .filter-content label {
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
    width: 100%; }
    .filter-content label input {
      margin-right: 5px;
      vertical-align: -2px; }

.search-box {
  float: right;
  margin-right: 15px;
  min-width: 150px;
  width: 40%; }
  @media (min-width: 992px) {
    .search-box {
      float: left; } }
  @media (max-width: 425px) {
    .search-box {
      width: 100%;
      padding: 0 15px 15px;
      float: none; } }

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%; }
  .input-group input {
    -moz-background-clip: padding-box;
      -o-background-clip: padding-box;
         background-clip: padding-box;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: .25rem 0 0 .25rem;
       -moz-border-radius: .25rem 0 0 .25rem;
            border-radius: .25rem 0 0 .25rem;
    color: #464a4c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.25;
    margin-bottom: 0;
    margin-right: -1px;
    padding: .5rem .75rem;
    position: relative;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
    width: 1%;
    z-index: 2; }
    .input-group input:focus {
      outline: none; }
  .input-group .input-group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; }
    .input-group .input-group-btn button {
      background-color: #fff;
      border: 1px solid transparent;
      border-color: #ccc;
      -webkit-border-radius: 0 .25rem .25rem 0;
         -moz-border-radius: 0 .25rem .25rem 0;
              border-radius: 0 .25rem .25rem 0;
      color: #292b2c;
      display: inline-block;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 0%;
         -moz-box-flex: 1;
          -ms-flex: 1 1 0%;
              flex: 1 1 0%;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.25;
      padding: .5rem 1rem;
      position: relative;
      text-align: center;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      vertical-align: middle;
      white-space: nowrap; }

@media (max-width: 991px) {
  .left-fixed {
    left: -300px;
    position: absolute; } }

@media (max-width: 500px) {
  .events-details li {
    margin: 10px 24px 10px 0; } }

    @media (max-width: 375px) {
      .events-details li {
        margin: 10px 7px 10px 0; } }


.a-clean {
  text-decoration: none;
}

.a-clean:hover, .a-clean:visited, .a-clean:focus {
  text-decoration: none;
}
