{% extends "../html/layouts/main.njk" %}

{% block css %}
    <link rel="stylesheet" href="css/listing.css">
{% endblock %}

{% block main %}
    <div class="container mt-56">
        <div class="row">
            <div class="breadcrumb">
                <ol>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                </ol>
            </div>
        </div>
    </div>
    {#  breadcrumb end here #}

    <div class="container">
        <div class="row">
            <div class="col left-fixed">
                <div class="boxes">
                    filter
                </div>
            </div>
            <div class="col right-col">
                <div class="boxes mb-15">
                    <div class="left-box">
                        <h3 class="head">State Bank of India</h3>
                        <address><span class="icon-address"></span>Park Centra, Gurugram</address>
                        <div class="events-details">
                            <ol>
                                <li>
                                    <div class="event-cal">
                                        <i class="icon-cal"></i>
                                        <span class="text-small">Event Date</span>
                                        <input type="text" class="dash-cal">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-day">
                                        <i class="icon-date"></i>
                                        <span class="text-small">Days</span>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                                <li>
                                    <div class="event-girls">
                                        <i class="icon-girl"></i>
                                        <input type="number" class="dash-input">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-boys">
                                        <i class="icon-boy"></i>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="right-box">
                        <div>
                            <i class="icon-rupees"></i>
                            <p class="event-price"><span>100</span>/Day</p>
                        </div>
                        <button class="btn btn-blue mt-15">Apply for This Events</button>
                    </div>
                </div>
                {# first end here #}
                <div class="boxes mb-15">
                    <div class="left-box">
                        <h3 class="head">State Bank of India</h3>
                        <address><span class="icon-address"></span>Park Centra, Gurugram</address>
                        <div class="events-details">
                            <ol>
                                <li>
                                    <div class="event-cal">
                                        <i class="icon-cal"></i>
                                        <span class="text-small">Event Date</span>
                                        <input type="text" class="dash-cal">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-day">
                                        <i class="icon-date"></i>
                                        <span class="text-small">Days</span>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                                <li>
                                    <div class="event-girls">
                                        <i class="icon-girl"></i>
                                        <input type="number" class="dash-input">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-boys">
                                        <i class="icon-boy"></i>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="right-box">
                        <div>
                            <i class="icon-rupees"></i>
                            <p class="event-price"><span>100</span>/Day</p>
                        </div>
                        <button class="btn btn-blue mt-15">Apply for This Events</button>
                    </div>
                </div>
                {# second end here #}
                <div class="boxes mb-15">
                    <div class="left-box">
                        <h3 class="head">State Bank of India</h3>
                        <address><span class="icon-address"></span>Park Centra, Gurugram</address>
                        <div class="events-details">
                            <ol>
                                <li>
                                    <div class="event-cal">
                                        <i class="icon-cal"></i>
                                        <span class="text-small">Event Date</span>
                                        <input type="text" class="dash-cal">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-day">
                                        <i class="icon-date"></i>
                                        <span class="text-small">Days</span>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                                <li>
                                    <div class="event-girls">
                                        <i class="icon-girl"></i>
                                        <input type="number" class="dash-input">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-boys">
                                        <i class="icon-boy"></i>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="right-box">
                        <div>
                            <i class="icon-rupees"></i>
                            <p class="event-price"><span>100</span>/Day</p>
                        </div>
                        <button class="btn btn-blue mt-15">Apply for This Events</button>
                    </div>
                </div>
                {# third end here #}
                <div class="boxes mb-15">
                    <div class="left-box">
                        <h3 class="head">State Bank of India</h3>
                        <address><span class="icon-address"></span>Park Centra, Gurugram</address>
                        <div class="events-details">
                            <ol>
                                <li>
                                    <div class="event-cal">
                                        <i class="icon-cal"></i>
                                        <span class="text-small">Event Date</span>
                                        <input type="text" class="dash-cal">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-day">
                                        <i class="icon-date"></i>
                                        <span class="text-small">Days</span>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                                <li>
                                    <div class="event-girls">
                                        <i class="icon-girl"></i>
                                        <input type="number" class="dash-input">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-boys">
                                        <i class="icon-boy"></i>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="right-box">
                        <div>
                            <i class="icon-rupees"></i>
                            <p class="event-price"><span>100</span>/Day</p>
                        </div>
                        <button class="btn btn-blue mt-15">Apply for This Events</button>
                    </div>
                </div>
                {# forth end here #}
                <div class="boxes mb-15">
                    <div class="left-box">
                        <h3 class="head">State Bank of India</h3>
                        <address><span class="icon-address"></span>Park Centra, Gurugram</address>
                        <div class="events-details">
                            <ol>
                                <li>
                                    <div class="event-cal">
                                        <i class="icon-cal"></i>
                                        <span class="text-small">Event Date</span>
                                        <input type="text" class="dash-cal">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-day">
                                        <i class="icon-date"></i>
                                        <span class="text-small">Days</span>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                                <li>
                                    <div class="event-girls">
                                        <i class="icon-girl"></i>
                                        <input type="number" class="dash-input">
                                    </div>
                                </li>
                                <li>
                                    <div class="event-boys">
                                        <i class="icon-boy"></i>
                                        <input type="number" class="dash-input">
                                    </div>                                
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="right-box">
                        <div>
                            <i class="icon-rupees"></i>
                            <p class="event-price"><span>100</span>/Day</p>
                        </div>
                        <button class="btn btn-blue mt-15">Apply for This Events</button>
                    </div>
                </div>
                {# fifth end here #}
            </div>
        </div>
    </div>
    {# container end here #}
{% endblock %}
