<div class="full-screen">
    <header class="nav-strip">
    <div class="logo">
        <i class="icon-logo"></i>
    </div>
    <div class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Testimonial</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <div class="close-nav">
            <button>
                <span>&times;</span>
            </button>
        </div>
    </nav>
    <div class="right-menu">
        <div class="alert">
            <i class="icon-alert"></i>
        </div>
        <div class="location">
            <i class="icon-location-main"></i>
            Delhi
        </div>
        <div class="sign-in">
            <a href="#">Sign In</a>
        </div>
    </div>
</header>
</div>