<div class="full-screen">
    <header class="nav-strip">
    <div class="logo">
        <i class="icon-logo"></i>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Testimonial</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
    <div class="location">
    </div>
</header>
</div>