
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*body {
    margin: 0;
    padding: 0;
}*/

p {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    animation: typing 3s steps(60, end);
}

/*p:nth-child(2) {
    animation: typing-2 8s steps(60, end);
}
*/

@keyframes typing {
    from {width: 0px;}
}

@keyframes typing-2 {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 100;}
}

@keyframes blink {
    to {opacity: .0;}
}

.cursor {
    animation: blink 1s infinite;
}
