{% include "shared/base.html" %}
{% load islist from tag %}
{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/about_us.css" rel="stylesheet">
{% endblock customcss %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}
<div class="body-center">
    {% for about in results.0.aboutus %}
        {% for head, value in about.items %} 
            <p class="blue m-t-36"><b>&nbsp;&nbsp;{{head}}</b></p>
            <div class="divider"></div>
            {% if not value|islist %}
                <p class="sub">{{value|safe}}</p>
            {% else %}
                <div class="clearfix">
                {% for i in value %}
                    <div class="col-33">
                        <div class="circle"><img src="{{STATIC_URL}}shared/images/{{i.3}}"></div>
                        <div>
                            <h3 class="blue">{{i.0}}</h3>
                            <p class="smallsub">{{i.1}}</p>
                            <p class="sub">"{{i.2}}"</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
{% endblock customjs %}
