<!--div class="boxes whitebg no-shadow"-->

    <p class="blue"><img class="very-small-image" src="{{STATIC_URL}}shared/images/trending.png">Weather</p>
    <div class="divider"></div>
    <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
-->
</a><div height="150px" id="awcc1505807934611" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1505807934611"></div>
    <br>
    <br>
    <p class="blue"><img class="very-small-image" src="{{STATIC_URL}}shared/images/trending.png">Trending events</p>
    <div class="divider"></div>
    <br>
    <div>
        <iframe class="trending-videos" src="http://www.youtube.com/embed/gP639ZSQ8xk" height=175px width=100% frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>
