{% include "shared/base.html" %}
{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/about_us.css" rel="stylesheet">
{% endblock customcss %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- body -->
<div class="body-center">
    {% for testi in results %}
      <div class="read-more">
        <p class="blue m-t-36"><b>{{testi.title}}</b></p>
        <div class="divider"></div>
        <p class="sub">{{testi.content|safe}}</p>
        <p class="sub" style="float:right;"> - by 
            <span class="blue">
            {% if testi.author.first_name %}
                {{testi.author.first_name}} {{test.author.last_name}}
            {% else %}
                {{testi.author.username}}
            {% endif %}
            </span>
        </p>
      </div>
      <div class="sub" style="margin-top:5px;">... <a class="blue" href='{% url "article_detail" slug=testi.slug %}'>read more<a></div>
    {% endfor %}
</div>

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
{% endblock customjs %}
