<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet"-->
    <link href="{{STATIC_URL}}shared/css/googleapis.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/font-awesome.min.css" rel="stylesheet"> 
    <title>{{meta.title|safe}}</title>
    <meta name="keywords" content="{{meta.keywords|safe}}" />
    <meta name="description" content="{{meta.description|safe}}" />

<!-- google adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3558384942936571",
    enable_page_level_ads: true
  });
</script>
</head>
