<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet"-->
    <link href="{{STATIC_URL}}shared/css/googleapis.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/font-awesome.min.css" rel="stylesheet">
    <title>{{meta.title|safe}}</title>
    <meta name="keywords" content="{{meta.keywords|safe}}" />
    <meta name="description" content="{{meta.description|safe}}" />


    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{STATIC_URL}}/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}/fav/favicon-16x16.png">
    <link rel="manifest" href="{{STATIC_URL}}/fav/manifest.json">
    <link rel="mask-icon" href="{{STATIC_URL}}/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WL96Z2P');</script>
    <!-- End Google Tag Manager -->

    <!-- google adsense -->
    <!--script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript">
  // for google ads
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3558384942936571",
    enable_page_level_ads: true
  });

</script-->
<!-- G+ follow js -->
<!--script src="https://apis.google.com/js/platform.js" async defer></script-->
<script src="{{STATIC_URL}}shared/js/gplus_platform.js" async defer></script>

</head>
