{% include "shared/base.html" %}
{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/about_us.css" rel="stylesheet">
{% endblock customcss %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- body -->
    <div class="body-center">
        <div class="ph">
            <img src="{{STATIC_URL}}shared/images/phone1.jpg">
        </div>
        <div class="right">
        <p class="blue m-t-36"><b>&nbsp;&nbsp;Write to us @ </b></p>
        <div class="divider"></div>
        <p class="sub">customersupport@worksmartevents.com</p>
        <p class="sub">We will get back to you within 48 hours</p>

        <p class="blue m-t-36"><b>&nbsp;&nbsp;Call us @</b></p>
        <div class="divider"></div>
        <p class="sub">+91-702-111-5997</p>
        <p class="sub">+91-813-095-7057</p>
        <p class="sub">Lines open from 0800 till 2200 hours, 7 days a week</p>
    </div>
</div>

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
{% endblock customjs %}
