{% include "shared/base.html" %}
{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/about_us.css" rel="stylesheet">
{% endblock customcss %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- body -->
    <div class="body-center">
        <div class="ph">
            <img src="{{STATIC_URL}}shared/images/phone1.jpg">
        </div>
        <div class="right">
        <p class="blue m-t-36"><b>&nbsp;&nbsp;Email us </b></p>
        <div class="divider"></div>
        <p class="sub">customersupport@worksmartevents.com</p>

        <p class="blue m-t-36"><b>&nbsp;&nbsp;Call us </b></p>
        <div class="divider"></div>
        <p class="sub">011-21312312</p>
    </div>
</div>

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
{% endblock customjs %}
