{% include "shared/base.html" %}
{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/about_us.css" rel="stylesheet">
{% endblock customcss %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- body -->
<div class="body-center">
    {% for faq in results.0.faq %}
        <p class="blue m-t-36"><b>&nbsp;&nbsp;{{faq.0}}</b></p>
        <div class="divider"></div>
        <p class="sub">{{faq.1}}</p>
    {% endfor %}
</div>

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
{% endblock customjs %}
