<div class="boxes whitebg no-shadow">
    <p class="blue"><img class="very-small-image" src="{{STATIC_URL}}shared/images/share1.png" alt="Facebook">Like us on Social Media</p>
    <div class="divider"></div>

    <div>
    <div class="social">
        <!-- facebook like -->
        <iframe id="fb" width="140" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe><span style="float:left;" id="fb_load" class="sub">Loading...</span>
    </div>
    <div class="social">
        <!-- G+ Follow -->
        <!-- Place this tag where you want the widget to render. -->
        <!-- worksmartevents365 -->
        <!--div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/111740691666172926690" data-rel="author"></div-->
        <!-- worksmartevent -->
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/2/116350799938402410686" data-rel="author"></div>
    </div>
    </div>
    <br>
    <br>
    <br>
</div>
