<div class="boxes whitebg no-shadow">
    <p class="blue"><img class="very-small-image" src="{{STATIC_URL}}shared/images/sharer.jpg">Like us on Social Media</p>
    <div class="divider"></div>

    <div>
    <div class="social">
        <!-- facebook like -->
        <!--iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fworksmartofficial&width=100&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId=1667073276882154" width="100" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe-->

    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fworksmartofficial&width=140&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=1667073276882154" width="140" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
    <div class="social">
        <!-- G+ Follow -->
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/111740691666172926690" data-rel="author"></div>
    </div>
    </div>
    <br>
    <br>
    <br>
</div>
