<marquee class="orange" style="margin-top:1px;">Try and try, till you succeed.</marquee>
<div class="full-screen">
    <header class="nav-strip">
    <div class="logo">
        <!--i class="icon-logo"></i-->
    </div>
    <div class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="main-nav">
        <ul>
            {% for x in menu %}
                <li><a href="{% url x.0 %}" class = "{{x.2}}">{{x.1}}</a></li>
            {% endfor %}
        </ul>
        <div class="close-nav">
            <button>
                <span>&times;</span>
            </button>
        </div>
    </nav>
    <div class="right-menu">
        <div class="alert">
            <i class="icon-alert"></i>
        </div>
        <div class="location">
            <i class="icon-location-main"></i>
            Delhi
        </div>
        {% if not user %}
            <div class="sign-in sign-in-css">
                <a href="#">Sign In</a>
            </div>
        {% else %}
            <div class="user-signed">
               <a href="{% url 'my_profile' %}"><img src="{{STATIC_URL}}/shared/images/default-user-icon.png" alt="my profile"></a>
            </div>
             
            <a href="{% url 'logout' %}"><img class="logout" src="{{STATIC_URL}}/shared/images/p1.png" alt="Logout"></a>
        {% endif %}
    </div>
</header>
</div>
