<!--marquee class="orange">Try and try, till you succeed.</marquee-->
<p style="margin-top:10px;"></p>
<div class="full-screen">
    <header class="nav-strip">
    <div class="logo">
        <!--i class="icon-logo"></i-->
        <img src="{{STATIC_URL}}shared/images/l2.png" >
    </div>
    <div class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="main-nav">
        <ul>
            {% for x in menu %}
                <li><a href="{% url x.0.0 %}" class = "{{x.2}}">{{x.1}}</a></li>
            {% endfor %}
        </ul>
        <div class="close-nav">
            <button>
                <span>&times;</span>
            </button>
        </div>
    </nav>
    <div class="right-menu {% if not user %}none-login {% else %} login {% endif %}">
        <!--div class="alert">
            <i class="icon-alert"></i>
        </div-->
        <div class="location">
            <i class="icon-location-main"></i>
            <span class="current_city"></span>
        </div>
        {% if not user %}
            <div class="sign-in sign-in-css">
                <a href="#">Sign In</a>
            </div>
        {% else %}
            <div class="user-signed">
               <a href="{% url 'my_overview' %}"><img src="{{STATIC_URL}}/shared/images/default-user-icon.png" alt="my profile"></a>
            </div>
             
            <a href="{% url 'logout' %}"><img class="logout" src="{{STATIC_URL}}/shared/images/p1.png" alt="Logout"></a>
        {% endif %}
    </div>
</header>
</div>
