<div class="boxes whitebg no-shadow">
    <p class="blue"><img class="very-small-image" src="{{STATIC_URL}}shared/images/quicklinks.png">Quicklinks</p>
    <div class="divider"></div>
    <ul>
        <li>
            <a class="sub" href="{% url 'event_listing' %}" target="_blank">Search for another events</a>
        </li>
        <li>
            <a class="sub" href="{% url 'post_events' %}" target="_blank">Hire staff for your event</a>
        </li>
        <li>
            <a class="sub" href="{% url 'contact_us' %}" target="_blank">Need help - Contact us</a>
        </li>
    </ul>
    <br>
    <br>
</div>
