{% load i18n %}
{% trans "Koushik" as user %}

<div class="container">
  <div class="row">
    <h2 class="mt-15">Welcome {{ user }}</h2>

    <div class="columns">
      {% if 'my_profile' == request.resolver_match.url_name %}
        {% include "users/profile.html" %}
      {% elif 'my_notify' == request.resolver_match.url_name %}
        {% include "users/notify.html" %}
      {% elif 'my_stat' == request.resolver_match.url_name %}
        {% include "users/stats.html" %}
      {% else %}
        {% include "users/overview.html" %}
      {% endif %}
    </div>
  </div>
</div>
