{% load i18n %}

<div class="container">
  <div class="row">
    <h2 class="mt-15 welcome blue" style="margin-top:34px !important;">Welcome
    {% if results.0.name %} 
        {{ results.0.name }}
    {% elif results.0.auth_user.first_name %}
        {{ results.0.auth_user.first_name }}
    {% else %}
        {{ results.0.email }}
    {% endif %}
    </h2>

    <div class="columns">
      {% if 'my_profile' == request.resolver_match.url_name %}
        {% include "users/profile.html" %}
      {% comment %}{% elif 'my_notify' == request.resolver_match.url_name %}
        {% include "users/notify.html" %}
      {% elif 'my_stat' == request.resolver_match.url_name %}
        {% include "users/stats.html" %}{%endcomment%}
      {% else %}
        {% include "users/overview.html" %}
      {% endif %}
    </div>
  </div>
</div>
