{% include "shared/base.html" %}

{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}profile/css/profile.css" rel="stylesheet">   
{% endblock customcss %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- my profile -->
{% include "users/my_profile.html" %}

<!-- footer -->
{% include "shared/footer.html" %}
{% include "login/login.html" %}
{% endblock body %}

{% block customjs %}

    <script type="text/javascript">
        MyProfile.init({
        });

        $(document).ready(function(){
            $('.btn-close').on('click', function(){
                $('.container-login').removeClass('login-show');
                $(this).parents('.pop-overlay').hide(500);
            });

            /*$('.sign-in').on('click', function(){
                $('.pop-overlay').show(500);
                $('.container-login').addClass('login-show');
            });*/

        })
    </script>
{% endblock customjs %}
