{% include "users/picandtabs.html" with active='overview' %}
{# end here  #}
<div class="columns-listing bdr-orange">
    {% if results.0.userrole == 'candidate' %}
    <h3 class="mt-15"><p class="blue">History: Events you've applied for</p></h3>
    {% else %}
    <h3 class="mt-15"><p class="blue">History: Events created by you</p></h3>
    {% endif %}

    <ul class="event-lisitng">
        <li class="active"><a href="#">All</a></li>
        <!--li><a href="#">Upcoming</a></li>
        <li><a href="#">Previous</a></li-->
    </ul>
    <div class="event-lisitng-container">
        <div class="" id="js-all">
        <ul>
        {% if events.results %}
            {% for each in events.results %}
            <li>
            <div class="history-listing" style="cursor:pointer;" id="label-{{forloop.counter}}" data-num="{{forloop.counter}}">
                <div class="history-tag">{{each.req.0.application_status}}</div>
                <p class="history-event-name">{{each.name}}</p>
                {% if each.client %}<p class="history-client-name">{{each.client}}</p>{% endif %}
                <p class="history-date">Event date - <time>{{each.schedule.0}}</time></p>
                <address class="history-location">Loation - {{each.area}}, {{each.city}}</address> 
            </div>
            </li>
            {% endfor %}
        {% else %}
            <p class="blue"> No Records found</p>
        {% endif %}
        </ul>
        </div>
        <!--div class="" id="js-upcoming">
            upcoming
        </div>
        <div class="" id="js-previous">
            previous
        </div-->
    </div>
</div>
{# end----  #}
<div class="columns-details">
    <div class="bdr-orange">
        {% if events.results %}
        {% for each in events.results %}
          <div id="content-{{forloop.counter}}" data-num="{{forloop.counter}}">
            <h2 class="event-head"><p class="blue">{{each.name}}</p></h2>
            {% if each.client %}<p class="event-head-client">Client - <strong>{{each.client}}</strong></p>{% endif %}
            <p class="event-head-required sub">Required - 
            {% for x in each.req%} {{x.type}}, {% endfor %}
            </p>
            <div class="alerts">
                <ul>
                    {% for x in each.req %}
                        {% if user and user == x.candidate %}
                            {% if x.application_status == "applied" %}
                                <li class="alert-checked"><i class="checked"></i> You have been selected as an {{x.type|title}} in this event</li>
                            {% elif x.application_status == "wl" %}
                                <li class="alert-pending"><i class="pending"></i> Position of {{x.type|title}} is on Hold as we have too many entries</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if each.briefing_datetime %}
                <div class="times-badges">
                    Selection/Briefing <time>{{ each.briefing_datetime }}</time>
                </div>
            {% endif %}
            <div class="times-badges">
                Event Date <time>{{each.schedule.0}} - {{each.schedule.1}}</time>
            </div>
            <div class="tags-list">
                <div class="tags">
                    Per day Pay - Rs.{{each.candidate_info.paisa}}
                </div>
                {% if each.candidate_info.paisa %}
                <div class="tags">
                    Estimated Earnings - Rs.{% widthratio each.schedule.2 1 each.candidate_info.paisa %}
                </div>
                {% endif %}
                <div class="tags tags-pending">
                    Event Allocation Status - {% if not each.req.0.payments.0.allocation_status %}{{each.req.0.application_status|title}}{% else %}{{each.req.0.payments.0.allocation_status|title}}{% endif%}
                </div>
            </div>
            <div class="details-para">
                <h5>Events Details</h5>
                <p class="sub">{{each.short_description|safe}}</p>
            </div>
            <div class="details-para">
                <!--h5>Client Details</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  of Lorem Ipsum.</p-->
            </div>
        </div>
      {% endfor %}
        {% else %}
            <p class="blue"> No Records found</p>
        {% endif %}
    </div>
</div>
{# end----  #}
