{% include "users/picandtabs.html" with active='overview' %}
{# end here  #}
<div class="columns-listing bdr-orange">
    <h3 class="mt-15">Your Events History</h3>
    <ul class="event-lisitng">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Upcoming</a></li>
        <li><a href="#">Previous</a></li>
    </ul>
    <div class="event-lisitng-container">
        <div class="" id="js-all">
        <ul>
            {% for i in "123" %}
            <li>
            <div class="history-listing">
                <div class="history-tag">Applied</div>
                <p class="history-event-name">Event Name</p>
                <p class="history-client-name">Client Name</p>
                <p class="history-date">Event date - <time>29 June 2017</time></p>
                <address class="history-location">Loation - Delhi</address> 
            </div>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="" id="js-upcoming">
            upcoming
        </div>
        <div class="" id="js-previous">
            previous
        </div>
    </div>
</div>
{# end----  #}
<div class="columns-details">
    <div class="bdr-orange">
        <h2 class="event-head">Event Name will be display here</h2>
        <p class="event-head-client">Client - <strong>State Bank of India</strong></p>
        <p class="event-head-required">Required - Anchors, Emcee</p>
        <div class="alerts">
            <ul>
                <li class="alert-checked"><i class="checked"></i> You have selected as an anchor in this event</li>
                <li class="alert-pending"><i class="pending"></i> Position of Emcee is on Hold as we have too many entries</li>                
            </ul>
        </div>
        <div class="times-badges">
            Selection/Briefing <time>1st July - 30th July 2017</time>
        </div>
        <div class="times-badges">
            Event Date <time>1st July - 30th July 2017</time>
        </div>
        <div class="tags-list">
            <div class="tags">
            Per day Pay - Rs.100
            </div>
            <div class="tags">
                Earnings - Rs.500
            </div>
            <div class="tags tags-pending">
                Payment Status - Pending
            </div>
        </div>
        <div class="details-para">
            <h5>Events Details</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
             Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
              of Lorem Ipsum.</p>
        </div>
        <div class="details-para">
            <h5>Client Details</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
             Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
              of Lorem Ipsum.</p>
        </div>
    </div>
</div>
{# end----  #}