<div class="columns-profile">
    <div class="user-pic">
        {% if results.0.image %}
            <img src="{{results.0.image}}" alt="">
        {% else %}
            <img src="{{STATIC_URL}}shared/images/default.png" alt="image not available">
        {% endif %}
    </div>
    <div class="user-events-tabs">
        <ul>
        <li {% if active == 'overview' %}class="active"{% endif %}><a href="{% url 'my_overview' %}">Events</a></li>
        <li {% if active == 'profile' %}class="active"{% endif %}><a href="{% url 'my_profile' %}">Profile</a></li>
        <!--li {#% if active == 'notify' %}class="active"{% endif %}><a href="{% url 'my_notify' %#}">Notifications</a></li-->
        <li {% if active == 'stat' %}class="active"{% endif %}><a href="{% url 'my_stat' %}">Your Stats</a></li>
        </ul>
    </div>
</div>
