{% include "users/picandtabs.html" with active='profile' %}
{# end here  #}
<div class="columns-form bdr-orange">
    <div class="tab-line">
        <ul class="tabs-profile">
            <li class="active"><a href="#">Basic Information</a></li>
            <li><a href="#">Events Preferences</a></li>
            <li><a href="#">Change Password</a></li>
        </ul>
    </div>
    <div class="tabs-profile-container">
        <div class="container-head">
            <h2 class="container-left">Your Personal Information</h2>
            <div class="container-right">
                right
            </div>
        </div>
        <div class="">
            <h4>Name as on any ID card</h4>
            <div>
                <label class="custom-input">
                    <input type="text">
                    <span>First Name</span>
                </label>
                <label class="custom-input">
                    <input type="text">
                    <span>Middle Name</span>
                </label>
                <label class="custom-input">
                    <input type="text">
                    <span>Last Name</span>
                </label>
            </div>
        </div>
    </div>
</div>
{# end----  #}