{% include "users/picandtabs.html" with active='profile' %}
{# end here  #}
<div class="columns-form bdr-orange">
    <div class="tab-line">
        <ul class="tabs-profile">
            <li class="active"><a href="#">Basic Information</a></li>
            <li><a href="#">Events Preferences</a></li>
            <li><a href="#">Change Password</a></li>
        </ul>
    </div>
    <div class="tabs-profile-container">
        <div class="container-head sperator-row">
            <h2 class="container-left blue">Your Personal Information</h2>
            <div class="container-right">
                right
            </div>
        </div>
        <div>
            <form id="profileform" name="profileform" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <!--h4>Name as on any ID card</h4-->
            <div class="sperator-row">
                <label class="custom-input {% if results.0.auth_user.first_name %}active{% endif %}">
                    <input type="text" name="first_name" id="first_name" value="{{results.0.auth_user.first_name}}">
                    <span>First Name</span>
                </label>
                <label class="custom-input {% if results.0.auth_user.last_name %}active{% endif %}">
                    <input type="text" name="last_name" id="last_name" value="{{results.0.auth_user.last_name}}">
                    <span>Last Name</span>
                </label>
            </div>
            <div class="sperator-row">
                {% comment %}
                <!--label class="custom-input">
                    <select name="state" id="state">
                        <option value="">Select State</option>
                        {% for s in state %}
                            <option value="{{s.slug}}">{{s.name}}</option>
                        {% endfor %}
                    </select>
                </label-->
                {% endcomment %}
                <label class="custom-input">
                    <select name="city" id="city">
                        <option value="">Select City</option>
                        {% for c in city %}
                            {% if c.slug == results.0.city %}
                                <option value="{{c.slug}}" selected="selected">{{c.name}}</option>
                            {% else %}
                                <option value="{{c.slug}}">{{c.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <label class="custom-input">
                    <select name="area" id="area">
                        <option value="">Select Area</option>
                        {% for a in area %}
                            {% if a.slug == results.0.area %}
                                <option value="{{a.slug}}" selected="selected">{{a.name}}</option>
                            {% else %}
                                <option value="{{a.slug}}">{{a.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="sperator-row">
                <label class="custom-input {% if results.0.whatsapp_number %}active{% endif %}">
                    <input type="text" name="whatsapp_number" id="whatsapp_number" value="{{results.0.whatsapp_number}}" maxlength=10>
                    <span>Whatsapp Number</span>
                </label>
                <label class="custom-input {% if results.0.mobile %}active{% endif %}">
                    <input type="text" name="mobile" id="mobile" value="{{results.0.mobile}}" maxlength=10>
                    <span>Mobile</span>
                </label>
                <label class="custom-input {% if results.0.address %}active{% endif %}">
                    <input type="text" name="address" id="address" value="{{results.0.address}}">
                    <span>Address</span>
                </label>
            </div>
            <div  class="sperator-row">
                {% if results.0.image %}
                    <a href="{{results.0.image|safe}}">Profile Image</a>
                {% endif %}
                <label class="custom-input upload-input">
                    Upload a New Image
                    <input type="file" name="profile_image" id="profile_image" >
                </label>
            </div>
        {% if results.0.type == 'candidate' %}
            <div  class="sperator-row">
                <label class="custom-input">
                    <select name="highest_qualification" id="highest_qualification">
                        <option value="">Select Highest Qualification</option>
                        {% for h in highest_qualification %}
                            {% if h.0 == results.0.highest_qualification %}
                                <option value="{{h.0}}" selected="selected">{{h.1}}</option>
                            {% else %}
                                <option value="{{h.0}}">{{h.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <label class="custom-input">
                    <select name="looks" id="looks">
                        <option value="">Choose Looks</option>
                        {% for l in looks %}
                            {% if l.0 == results.0.looks %}
                                <option value="{{l.0}}" selected="selected">{{l.1}}</option>
                            {% else %}
                                <option value="{{l.0}}">{{l.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <label class="custom-input {% if results.0.candidate.pay_scale %}active{% endif %}">
                    <input type="text" name="pay_scale" id="pay_scale" value="{{results.0.candidate.pay_scale}}">
                    <span>Pay Scale</span>
                </label>
                <label class="custom-input">
                    <select name="language_proficiency" id="language_proficiency">
                        <option value="">Select Language Proficiency</option>
                        {% for l in language_proficiency %}
                            {% if l.0 == results.0.candidate.language_proficiency|add:"0" %}
                                <option value="{{l.0}}" selected="selected">{{l.1}}</option>
                            {% else %}
                                <option value="{{l.0}}">{{l.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <label class="custom-input {% if results.0.candidate.open_to_which_kind_of_job %}active{% endif %}">
                    <input type="text" name="open_to_which_kind_of_job" id="open_to_which_kind_of_job" value="{{results.0.candidate.open_to_which_kind_of_job}}">
                    <span>Open to which kind of job</span>
                </label>
            </div>
            <div  class="sperator-row">
                <label class="custom-input">
                    Comfortable travelling outdoor
                    <input type="radio" name="comfortable_travelling_outdoor" id="comfortable_travelling_outdoor" value=1
                    {% if results.0.candidate.comfortable_travelling_outdoor == 1 %}
                        checked
                    {% endif %}
                    >Yes
                    <input type="radio" name="comfortable_travelling_outdoor" id="comfortable_travelling_outdoor" value=-1
                    {% if results.0.candidate.comfortable_travelling_outdoor == -1 %}
                        checked
                    {% endif %}
                    >No
                </label>
                <label class="custom-input">
                    Comfortable for liquor promotion
                    <input type="radio" name="comfortable_for_liquor_promotion" id="comfortable_for_liquor_promotion" value=1
                    {% if results.0.candidate.comfortable_for_liquor_promotion == 1 %}
                        checked
                    {% endif %}
                    >Yes
                    <input type="radio" name="comfortable_for_liquor_promotion" id="comfortable_for_liquor_promotion" value=-1
                    {% if results.0.candidate.comfortable_for_liquor_promotion == -1 %}
                        checked
                    {% endif %}
                    >No
                </label>
            </div>
            <div class="sperator-row">
                <label class="custom-input">
                    Comfortable working at odd timings
                    <input type="radio" name="comfortable_working_at_odd_timings" id="comfortable_working_at_odd_timings" value=1
                    {% if results.0.candidate.comfortable_working_at_odd_timings == 1 %}
                        checked
                    {% endif %}
                    >Yes
                    <input type="radio" name="comfortable_working_at_odd_timings" id="comfortable_working_at_odd_timings" value=-1
                    {% if results.0.candidate.comfortable_working_at_odd_timings == -1 %}
                        checked
                    {% endif %}
                    >No
                </label>
            </div>

        {% elif results.0.type == 'client' %}
            <div class="sperator-row">
                <label class="custom-input {% if results.0.client.designation %}active{% endif %}">
                    <input type="text" name="designation" id="designation" value="{{results.0.client.designation}}">
                    <span>Designation</span>
                </label>
                <label class="custom-input {% if results.0.client.company_name %}active{% endif %}">
                    <input type="text" name="company_name" id="company_name" value="{{results.0.client.company_name}}">
                    <span>Company Name</span>
                </label>
                <label class="custom-input {% if results.0.client.company_address %}active{% endif %}">
                    <input type="text" name="company_address" id="company_address" value="{{results.0.client.company_address}}">
                    <span>Company Address</span>
                </label>
                <label class="custom-input {% if results.0.client.establishment_year %}active{% endif %}">
                    <input type="text" name="establishment_year" id="establishment_year" value="{{results.0.client.establishment_year}}">
                    <span>Establishment Year</span>
                </label>
            </div>
        {% endif %}
        <input type="button" name="save" class="next action-button btn orange" value="Save" id="basic_info_save" />
        </form>

        </div>
    </div>
</div>
{# end----  #}
