@import '../../scss/components/global';

@import '../../scss/components/breadcrumb';

%left-box {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

%hover-stat {
  background: #ea6e32;
  color: #fff;
}

.columns {
  @extend %clear;
  margin-top: 15px;
  width: 100%;

  &-profile {
    @extend %left-box;
    max-width: 200px;
    width: 100%;
  }

  &-listing {
    @extend %left-box;
    height: 100%;
    height: 100vh;
    max-height: 500px;
    max-width: 300px;
    width: 100%;
  }

  &-details {
    @extend %left-box;
    max-height: 500px;
    max-width: 640px;
    width: 100%;

    > div {
      height: 100%;
      height: 100vh;
      max-height: 500px;
      overflow-y: auto;
      padding: 15px;
    }
  }

  &-form {
    @extend %left-box;
    width: 70%;
    width: calc(100% - 210px);
    height: 100%;
    height: 100vh;
    max-height: 500px;
  }
}

.user-pic {
  background-color: #ccc;
  display: block;
  height: 150px;
  margin: 0 auto 15px auto;
  width: 150px;
}

// tabs
.user-events-tabs {
  margin-left: -15px;
  margin-right: -15px;

  li {
    margin-bottom: 5px;
  }

  a {
    color: #ea6e32;
    display: block;
    padding: 10px;
    text-decoration: none;

    &:hover {
      @extend %hover-stat;
      cursor: pointer;
      outline: none;
    }
  }

  .active {
    a {
      @extend %hover-stat;
    }
  }
}

.bdr-orange {
  border: 1px solid #ea6e32;
}

.event-lisitng {
  @extend %clear;
  border-bottom: 1px solid #ea6e32;
  margin-top: 15px;

  li {
    float: left;
    padding-top: 3px;

    a {
      background: #ea6e32;
      border: 1px solid #ea6e32;
      color: #fff;
      display: block;
      margin-right: 2px;
      padding: 8px 15px;
      position: relative;
      text-decoration: none;
      transition: all 0.3ms ease;

      &::focus {
        outline: none;
      }
    }
  }

  .active {
    padding-top: 0;

    a {
      background: #fff;
      border-bottom: 0;
      color: #ea6e32;
      padding: 10px 15px;
      transition: all 0.3ms ease;

      &:after {
        background: #fff;
        bottom: -1px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

}

.event-lisitng-container {
  background: #fff;
  border: 1px solid #ea6e32;
  border-top: 0;
  height: 100%;
  height: calc(100% - 99px);
  margin-bottom: 15px;
  overflow-y: auto;
  padding: 15px;
}

.history {
  &-listing {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }

  &-tag {
    background: #5cb85c;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: -20px;
    padding: 5px 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 0;
      border-color: transparent  #347034 transparent transparent;

    }

    &::after {
          background: #fff;
          border-bottom: 11px solid transparent;
          border-left: 12px solid #5cb85c;
          border-top: 11px solid transparent;
          content: '';
          position: absolute;
          right: -10px;
          top: 0;
    }
  }

  &-event-name {
    font-size: 16px;
  }

  &-client-name {
    font-size: 14px;
    margin-top: 5px;
  }

  &-date {
    font-size: 13px;
    margin-top: 5px;
  }

  &-location {
    font-size: 13px;
    margin-top: 5px;
  }
}

.tags {
  display: inline-block;
  padding: 10px 15px 10px 30px;
  position: relative;
  margin-right: 25px;
  border-radius: 3px 0 0 3px;
  color: #fff;
  background-color: #5cb85c;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    left: 10px;
    border-radius: 10px;
    background: #f8f8f8;
  }

  &::after {
    background: transparent;
    border-bottom: 18px solid transparent;
    border-left: 20px solid #5cb85c;
    border-top: 18px solid transparent;
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
  }

  &.tags-pending {
    background-color: #d9534f;

    &::after {
      border-left: 20px solid #d9534f;
    }
  }
}

.alerts {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #368;

  li {
    + li {
      margin-top: 10px;
    }
  }

  .alert-checked {
    color: #5cb85c;
  }

  .alert-pending {
    color: #d9534f;
  }
}

.checked {
  &:after {
    content: '\002714';
  }
}

.pending {
  &:after {
    content: '\002718';
  }
}

.details-para {
  margin-top: 15px;

  h5 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }
}

.times-badges {
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 16px;
  background: #f0f0f0;
  display: inline-block;
  border: 1px dashed #368;
}

.event-head {
  color: rgba(0,0,0,0.87);
  font-size: 28px;

  &-client {
    padding: 10px;
    background: #ccc;
    margin-top: 10px;
    border-radius: 3px 3px 0 0;
  }

  &-required {
    padding: 10px;
    background: #ddd;
    margin-bottom: 10px;
    border-radius: 0 0 3px 3px;
  }
}

.tab-line {
  border-bottom: 1px solid #ea6e32;
}

.tabs-profile {
  @extend %clear;
  margin-top: 15px;

  li {
    float: left;

    a {
      background-color: #ea6e32;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      display: block;
      margin-right: 10px;
      padding: 15px;
      text-decoration: none;
    }

    &.active {
      a {
        background: #fff;
        border: 1px solid #ea6e32;
        border-bottom: 0;
        color: #ea6e32;
        margin-bottom: -1px;
      }
    }
  }
}

.tabs-profile-container {
  background: #fff;
  border: 1px solid #ea6e32;
  border-top: 0;
  padding: 15px;
  height: 100%;
  height: calc(100% - 75px);
  margin-bottom: 15px;
  overflow-y: auto;
}

.container-head {
  @extend %clear;

  .container-left {
    float: left;
  }

  .container-right {
    float: right;
  }
}

.custom-input {
  position: relative;

  input {
    padding: 5px;

    &:focus {
      outline: none;
      + span {
        font-size: 12px;
        line-height: 14px;
        top: -14px;
        transition: all 0.5ms ease;
      }
    }
  }

  span {
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 8px;
    display: block;
    line-height: 18px;
    pointer-events: none;
    transition: all 0.5ms ease;    
  }
}

