{% include "shared/base.html" %}
{% load slugify from utils %}

{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/popup.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}profile/css/profile.css" rel="stylesheet">
{% endblock customcss %}

<!-- canonicals -->
{% block head %}
<link rel="prev" href="">
<link rel="next" href="">
<link rel="canonical" href="">
{% endblock head %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- body -->
{% include "events/details.html" %}

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}
{% block customjs %}
    <script src="{{STATIC_URL}}events/js/events_details.js"></script>

    <script type="text/javascript">
        var user = "{{user}}";
        if(user == "None" || user == undefined) {
            user = "";
        }
        EventDetail.init({
            user: user,
        });

    </script>

{% endblock customjs %}
