{% load paginate from paginate_tag %}
            <div class="col right-col">
                <div class="page-result">
                    <div class="left-result">
                        <h2><span>{{count}}</span> Events Found in <b>{{results.0.city}}</b></h2>
                    </div>
                    <div class="right-result">
                        <a id="sort_name" data-key="name" data-order="{{sort_order}}"><i class="icon-short-by-name" title="sort by name"></i></a>
                        <a id="sort_date" data-key="date" data-order="{{sort_order}}"><i class="icon-short-by-type" title="sort by date"></i></a>
                    </div>
                </div>
                {% for e in results  %}
                    <div class="boxes mb-15">
                        <div class="left-box">
                            <a class="a-clean" href='{% url "event_detail" event_slug=e.slug event_id=e.id %}'>
                            <h3><p class="head blue a-clean">{{e.name}}</p></h3>
                            <address><span class="icon-address"></span>{{e.venue}}, {{e.area}}, {{e.city}}</address>
                            <div class="events-details">
                                <ol>
                                    <li>
                                        <div class="event-cal">
                                            <!--i class="icon-cal"></i-->
                                            <input type="text" readonly class="dash-cal" value="{{e.schedule.0}} - {{e.schedule.1}}">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="event-day">
                                            {% comment %}
                                            <!--i class="icon-date"></i-->
                                            <i class=""></i>
                                            <!--input type="text" readonly class="dash-input" value="{{e.schedule.2}}"-->
                                            {% endcomment %}
                                            <div class="dash-tag">
                                                <strong>{{e.schedule.2}}</strong>
                                                <span class="text-small blue">Day(s)</span>
                                            </div>
                                        </div>
                                    </li>
                                    {% if e.candidate_info.candidates_required.f %}
                                    <li>
                                        <div class="event-girls align-txtimg">
                                            <input type="text" readonly class="dash-input" value="{{e.candidate_info.candidates_required.f}}">
                                            {#<!--i class="icon-girl"></i-->#}
                                            <span>
                                                <img class="male-female-icon" src="{{STATIC_URL}}/shared/images/women.svg">
                                            </span>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% if e.candidate_info.candidates_required.m %}
                                    <li>
                                        <div class="event-boys align-txtimg">
                                            <input type="text" readonly class="dash-input" value="{{e.candidate_info.candidates_required.m}}">
                                            {#<!--i class="icon-boy"></i-->#}
                                            <span>
                                                <img class="male-female-icon" src="{{STATIC_URL}}/shared/images/men.svg">
                                            </span>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ol>
                            </div>
                            </a>
                        </div>
                        <div class="right-box">
                            <div>
                                <i class="icon-rupees"></i>
                                <p class="event-price"><span style="color:#ea6e32;font-size:24px;">{{e.candidate_info.paisa}}</span>/Day</p>
                            </div>
                            <button id="{{e.slug}}~~{{e.name}}~~{{e.id}}" {% if not e.is_applied %}class="event_apply btn btn-blue mt-15">Apply {%else%} class="event_apply btn btn-applied mt-15" disabled="true"> {{e.is_applied|title}} <img class="square-img" src = "{{STATIC_URL}}shared/images/tick.png">{%endif%}</button><p class="sub" style="font-size:11px;color:red;">
                        </div>
                    </div>
                {% endfor %}
                <div class="pagination">
                    <ul>
                        {% paginate pagesize=10 currentpage=page resultcount=count %}
                    </ul>
                </div>
            </div>
            <div class="col ad-box">
                {% include "shared/quicklinks.html"%}
                {% include "shared/follow.html"%}
                {% include "shared/adbox.html"%}
            </div>
        </div>
    </div>


 <!-- pop up div -->
<div id="openModal" class="modalbg">
  <div class="dialog">
    <a href="" title="Close" class="escape close" id="close_req">&times;</a>
    <div id="requirement_box"></div>
  </div>
</div>
