    <div class="container mt-56">
        <div class="row">
            <div class="breadcrumb">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="">Events</a></li>
                </ol>
            </div>
            <div class="search-box">
                <div class="input-group">
                    <input type="text" id="search" placeholder="Search events ...">
                    <span class="input-group-btn ">
                        <button type="button" id="go"><span class="orange">Go!</span></button>
                    </span>
                </div>
                <div id="search_results" class="suggestions"></div>
            </div>
        </div>
    </div>
