{% include "shared/base.html" %}

{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/popup.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
{% endblock customcss %}

<!-- canonicals -->
{% block head %}
<link rel="prev" href="">
<link rel="next" href="">
<link rel="canonical" href="">
{% endblock head %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- event listing header & search -->
{% include "events/header.html" %}

<!-- filters -->
{% include "events/filters.html" %}

<!-- listing -->
{% include "events/events.html" %}

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
    <script src="{{STATIC_URL}}events/js/events.js"></script>
    <!-- // accuweather js -->
    <!--script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script-->
    <script type="text/javascript" src="{{STATIC_URL}}shared/js/accu.js"></script>

    <script type="text/javascript">
        var user = "{{user}}";
        if(user == "None" || user == undefined) {
            user = "";
        }
        EventListing.init({
            user: user,
            accessibility: "{{accessibility}}"
        });

    </script>

{% endblock customjs %}
