
<div class="unauthorized smallsub">
    {% if not accessibility %}
        <p>You are not authorized to Post an Event.</p>
        {% if not user %}
            <p>Please <a class="force-register" data-user_type="client" style="color:blue;" href="#">Login / Register</a> with us a Client.</p>
        {% else %}
            <p>Please <a style="color:blue;" href="/logout/">Logout</a> first and then Login / Register as a Client.</p>
        {% endif %}
        
    {% else %}
        </div>
        <div>
        <form id="msform" class="form-style-10">
        <h1>Create an Event<span></span></h1>
        <!-- progressbar -->
        <ul id="progressbar">
        <li class="active">Name &amp; Address</li> 
        <li>Details &amp; Description</li>
        <li>Event Schedule</li>
        </ul>
        <fieldset>
        <h2 class="fs-title"><p class="blue">Step 1:</p>Name &amp; Address</h2>
        <!--h3 class="fs-subtitle">This is step 1</h3-->
            <div class="inner-wrap">
                <label class="event-label clearfix">
                    <span>Event Name <b>*</b></span>
                    <input type="text" name="name" id="name" class="big-input" />
                    <div id="check_event_exists_result" class="check_event_exists_result">
                    </div>
                </label>
                <label class="event-label clearfix"><span>Venue <b>*</b></span> <input type="text" name="venue" id="venue" class="big-input"></label>
                <label class="event-label clearfix"><span>City <b>*</b></span> <select name="city" id="city" class="big-input">
                    <option value=""> </option>
                    {% for c in city %}
                        <option value="{{c.slug}}">{{c.name}}</option>
                    {% endfor %}
                </select></label>
                <label class="event-label clearfix"><span>Area <b>*</b></span> <select name="area" id="area" class="big-input">
                    <option value=""> </option>
                    {% for a in area %}
                        <option value="{{a.slug}}">{{a.name}}</option>
                    {% endfor %}
                </select></label>
                <label class="event-label clearfix"><span>Contact Person Name </span><input type="text" name="contact_person_name" id="contact_person_name"  class="big-input"/></label>
                <label class="event-label clearfix"><span>Contact Person Number <b>*</b></span> <input maxlength=10 type="text" name="contact_person_number" id="contact_person_number" class="big-input" /></label>
                <div class="demo-div mt20px">
                </div>
                <!-- event schedule starts -->
                    <div class="demo-div mt20px">
                        <label class="js-date">
                            <span>Start Date <b>*</b></span><input type="text" name="start_date_1" id="start_date_1" class=" input"/><span><img src="{{STATIC_URL}}shared/images/calendar-icon.png" class="medium-img"></span>
                        </label>
                        <label class="js-date">
                            <span>End Date <b>*</b></span><input type="text" name="end_date_1" id="end_date_1" class=" input"/><span><img src="{{STATIC_URL}}shared/images/calendar-icon.png" class="medium-img"></span>
                        </label>
                        <label class=" js-time"> 
                            <span>Start Time <b>*</b></span><input type="text" name="start_time_1" id="start_time_1" class=" input timepicker"/><span><img src="{{STATIC_URL}}shared/images/clock1.jpg" class="square-img "></span>
                        </label>
                        <label class=" js-time">
                            <span>End Time <b>*</b></span><input type="text" name="end_time_1" id="end_time_1" class=" input timepicker"/><span><img src="{{STATIC_URL}}shared/images/clock1.jpg" class="square-img "></span>
                        </label>
                    </div>
                <!-- event schedule starts -->
                <span class="big-input" style="font: 13px Arial, Helvetica, sans-serif;color: #888;">Event scheduled on non-continous days ?<br><br>
                <div class="schedules"></div>
                <a class="add_more_schedule"><img class="small-img" src="{{STATIC_URL}}shared/images/calendar-add-128.png">Add More Schedules</a></span>

            </div>
        <input type="button" name="next" class="next action-button" value="Save & Proceed" id="post_events_1"/>
        </fieldset>


        <!--fieldset>
        <h2 class="fs-title">Details &amp; Description</h2>
        <h3 class="fs-subtitle">some description</h3> 
                <div class="inner-wrap">
                    <label class="event-label clearfix"><span>Description <b>*</b></span><input type="text" name="short_description" id="short_description" class="big-input" /></label>
                    <label class="event-label clearfix"><span>Eligibilty (optional)</span> <input type="text" name="eligibility" id="eligibility" class="big-input" /></label>
                    <label class="event-label clearfix"><span>Selection &amp; Screening (optional)</span> <input type="text" name="selection_n_screening" id="selection_n_screening" class="big-input" /></label>
                    <label class="event-label clearfix"><span>Venue & Timing (optional)</span> <input type="text" name="venue_n_timing" id="venue_n_timing" class="big-input" /></label>
                    <label class="event-label clearfix"><span>Payments <b>*</b></span> <input type="text" name="payments" id="payments" class="big-input" /></label>
                    <label class="event-label clearfix"><span>Terms &amp; Condistions (optional)</span> <input type="text" name="t_n_c" id="t_n_c" class="big-input" /></label>
                </div>

        <input type="button" name="next" class="next action-button" value="Save & Proceed" id="post_events_2" />
        <input type="button" name="previous" class="previous action-button" value="Go Back" />
        </fieldset-->
        <fieldset>
        <h2 class="fs-title"><p class="blue">Step 2:</p>Event Requirements</h2> 
        <!--h3 class="fs-subtitle">some description</h3-->

            {% for i in "123456"  %}
            <div class="inner-wrap clearfix" {% if i != "1" %} style="display:none;" {% endif %} id="req_div_{{i}}">
                <label class="event-label clearfix">
                    <span class="blue"> Requirement #{{i}}:</span>
                </label>
                <label class="form-label w25 wm50 ws100 clearfix">
                    <span>Candidate Type <b>*</b></span>
                    <select name="candidate_type_{{i}}" id="candidate_type_{{i}}" >
                        <option value=""></option>
                        {% for c in candidate_type %}
                            <option value="{{c.slug}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="form-label w25 wm50 ws100">
                    <span>Gender <b>*</b> </span>
                    <select name="gender_{{i}}" id="gender_{{i}}">
                        <option value=""></option>
                        {% for g in gender %}
                            <option value="{{g.0}}">{{g.1}}</option>
                        {% endfor %}
                    </select>
                </label>
                <label  class="form-label w25 wm50 ws100">
                    <span>Count <b>*</b> </span> <input type="text" name="no_of_candidates_{{i}}" id="no_of_candidates_{{i}}"/>
                </label>

                <!--label class="form-label w25 wm50 ws100">
                    <span>No. of days <b>*</b></span> <input type="text" name="no_of_days_{{i}}" id="no_of_days_{{i}}"/>
                </label-->

                <label class="form-label w25 wm50 ws100">
                    <span>Pay per day <b>*</b></span>
                    <input type="text" name="daily_wage_per_candidate_{{i}}" id="daily_wage_per_candidate_{{i}}" />
                </label>
                <!--label class="form-label w25 wm50 ws100">
                    <span>Education </span>
                    <select name="education_{{i}}" id="education_{{i}}" >
                        <option value=""></option>
                        {% for e in education %}
                            <option value="{{e.0}}">{{e.1}}</option>
                        {% endfor %}
                    </select>
                </label-->
                <!--/label-->
                <!--label class="event-label clearfix"><span>Candidate Class</span> <select name="" id="" class="big-input"/>
                    <option value=""></option>
                    {% for c in candidate_class %}
                        <option value="{{c.0}}">{{c.1}}</option>
                    {% endfor %}
                </select></label-->
                <!--label class="event-label clearfix"-->
                <label class="form-label w25 wm50 ws100">
                    <span>English Language Proficiency </span>
                    <select name="communication_criteria_{{i}}" id="communication_criteria_{{i}}" >
                        <option value=""></option>
                        {% for p in proficiency %}
                            <option value="{{p.0}}">{{p.1}}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="form-label w25 wm50 ws100">
                    <span>Dress Code <b>*</b> </span>
                    <input type="text" name="dress_code_{{i}}" id="dress_code_{{i}}"/>
                </label>

                <!-- event requirements starts -->
              </div>
              {% endfor %}
              <span class="big-input" style="font: 13px Arial, Helvetica, sans-serif;color: #888;">
                  <a class="add_more_requirements">
                      <img class="small-img" src="{{STATIC_URL}}shared/images/add1.png">
                      Add More Requirements
                  </a>
              </span>

        <input type="button" name="next" class="next action-button" value="Save & Proceed" id="post_events_3" />
        <input type="button" name="previous" class="previous action-button" value="Go Back" />
        </fieldset>

        <fieldset>
        <h2 class="fs-title"><p class="blue">Step 3:</p>Screening & TnC</h2>
            <div class="inner-wrap">
                <label class="event-label clearfix"><span>Description <b>*</b></span><input type="text" name="short_description" id="short_description" class="big-input" /></label>
                <label class="event-label clearfix"><span>Eligibilty (optional)</span> <input type="text" name="eligibility" id="eligibility" class="big-input" /></label>
                <label class="event-label clearfix"><span>Payments <b>*</b></span> <input type="text" name="payments" id="payments" class="big-input" /></label>
            </div>


            <label><span>Do you want to screen candidates for selection ?</span></label>
            <label class="inline-block mr-10"><input type="radio" name="is_screening" class="is_screening" value="1" > Yes
            </label>
            <label class="inline-block mr-10">
                   <input type="radio" name="is_screening" class="is_screening" value="0" > No</label>
            <div class="briefing_div">
                <label class="event-inline w-33 wm-50 ws-100">
                    <span class="title  wmin-100">Briefing Date </span><input type="text" name="briefing_datetime" id="briefing_datetime" class=" input"/>
                    <span>
                    <img src="{{STATIC_URL}}shared/images/calendar-icon.png" class="medium-img ">
                    </span>
                </label>
                <label class="event-inline w-33 wm-50 ws-100">
                    <span class="title wmin-100">Briefing Time </span><input type="text" name="briefing_time" id="briefing_time" class=" input timepicker"/>
                    <span>
                    <img src="{{STATIC_URL}}shared/images/clock1.jpg" class="square-img ">
                    </span>
                </label>
                <label class="event-inline w-33 wm-50 ws-100">
                    <span class="title">Briefing Venue </span><input type="text" name="briefing_venue" id="briefing_venue" class=" input"/>
                </label>
            </div>
            <br><br><label><span>Worksmart Events TnC</span></label>
            <label class="mark-input"><input type="checkbox" name="tnc_1" id="tnc_1" > &nbsp;I accept the <a target="_blank" href="{% url 'tnc' %}">Terms &amp; Conditions</a></label>
            <label class="mark-input"><input type="checkbox" name="tnc_2" id="tnc_2" > &nbsp;I accept the <a target="_blank" href="{% url 'privacypolicy' %}">Privacy Policy</a></label>
            <label class="mark-input"><input type="checkbox" name="tnc_3" id="tnc_3"> &nbsp;I authorize Worksmart Events to post events on the behalf of my organization.</label><br><br>
            <input type="button" name="previous" class="next action-button" value="Post Event" id="post_events" />
            <input type="button" name="previous" class="previous action-button" value="Go Back" />
        </fieldset>

        </form>
        </div>
    {% endif %}
