{% include "shared/base.html" %}

{% block customcss %}
    <link href="{{STATIC_URL}}shared/css/listing.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/about_us.css" rel="stylesheet">
    <link href="{{STATIC_URL}}home/css/home.css" rel="stylesheet">
    <link href="{{STATIC_URL}}shared/css/inputform.css" rel="stylesheet">
{% endblock customcss %}

<!-- canonicals -->
{% block head %}
{% endblock head %}
{% block body %}
<!-- menu bar -->
{% include "shared/menu.html" %}

<!-- post form -->
{% include "events/post_events.html" %}

<!-- footer -->
{% include "shared/footer.html" %}
{% endblock body %}

{% block customjs %}
    <script src="{{STATIC_URL}}events/js/postevents.js"></script>

    <script type="text/javascript">
        PostEvent.init({
            user: user,
        });

    </script>

{% endblock customjs %}
